@tailwind base;
@tailwind components;
@tailwind utilities;

.slogan{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bgImg{
    background-image: url('/AnimatedShape.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.databg{
    background-image: url('/databg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.addborder{
    border: 2px dotted black;
    float: left;
}